<mat-grid-list cols="11" rowHeight="fit">
    <mat-grid-tile colspan="2">
        <mat-nav-list>
            <a *ngFor="let f of functions" mat-list-item [routerLink]="f.link">
                <mat-icon mat-list-icon>{{f.icon}}</mat-icon>
                <h6 mat-line>{{f.name}}</h6>
            </a>
        </mat-nav-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="9">
      <mat-grid-tile-header style="background-color:white;color:black;">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="搜索(按Enter)">
          </mat-form-field>
      </mat-grid-tile-header>
      <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header>序号</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>标题</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a class="share-note-title" [routerLink]="'/share/'+element.sid">{{element.title}}</a>
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="shareDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>分享时间</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.shareDate|date:"yyyy/MM/dd HH:mm:ss"}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operation">
              <mat-header-cell *matHeaderCellDef mat-sort-header>操作</mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="primary" (click)="cancelShare(element.sid)">{{element.operation}}</button>
              </mat-cell>
            </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-grid-tile>
</mat-grid-list>
