mat-grid-list {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
}
mat-nav-list{
    width: 100%;
    height: 100%;
    border-right: solid 1px #dddddd;
}

app-note-list,app-note-editor {
    width: 100%;
    height: 100%;
}

.decorator{
    width: 100%;
    height: 100%;
}