<div class="container">
  <p class="full-width register-text">用户注册</p>
  <form class="full-width" (ngSubmit)="onSubmit()" [formGroup]="user">
    <mat-form-field class="full-width">
      <input class="full-width" formControlName="username" matInput placeholder="用户名">
      <button mat-button matSuffix *ngIf="user.value.username" mat-icon-button aria-label="Clear" (click)="user.get('username').setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="user.get('username').hasError('required')">必须输入用户名</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input class="full-width" formControlName="password" type="password" matInput placeholder="密码">
      <button mat-button *ngIf="user.value.password" (click)="user.get('password').setValue('')" matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="user.get('password').hasError('required')">必须输入密码</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input class="full-width" formControlName="email" matInput placeholder="邮箱">
      <button mat-button *ngIf="user.value.email" (click)="user.get('email').setValue('')" matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="user.get('email').hasError('required')">必须输入邮箱</mat-error>
      <mat-error *ngIf="user.get('email').hasError('email')">邮箱不符合格式</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="emailCode" placeholder="验证码">
        <button mat-button *ngIf="user.value.emailCode" (click)="user.get('emailCode').setValue('')" matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="user.get('emailCode').hasError('required')">必须输入验证码</mat-error>
        <mat-error *ngIf="user.get('emailCode').hasError('minlength')||user.get('emailCode').hasError('maxlength')">验证码长度必须为4</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="sending" type="button" color="warn" (click)="sendEmail()">{{sending?'30s后可重试':'获取验证码'}}</button>
    <app-image-cropper (imgChange)="imageSelected($event)" class="full-width"></app-image-cropper>
    <div style="margin-top: 20px;">
      <button mat-raised-button color="accent" [disabled]="processLogin">{{processLogin?'正在注册':'注册'}}</button>
    </div>
  </form>
</div>
